<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>

  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>-->
<div>
    <mat-toolbar color="primary">
      <!--<span><mat-icon>mood</mat-icon></span>-->
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addit('Redial')" >
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item (click)="addit('Disable alerts')">
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      <span>  </span>
      <span>Yay, Material in Angular {{title}}</span>


    </mat-toolbar>

    <!--<mat-menu x-position="before" #menu="matMenu">
      <button  mat-menu-item>Option 1</button>
      <button  mat-menu-item>Option 2</button>
    </mat-menu>-->

    <mat-card>
      <button mat-button (click)="add()">All</button>
      <button mat-raised-button>Of</button>
      <button mat-raised-button color="primary">The</button>
      <button mat-raised-button color="accent">Buttons</button>
      <form class="example-form">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
      </form>
    </mat-card>
    <mat-card>
        <app-bitcoin-price></app-bitcoin-price>

        <app-bitcoin-change></app-bitcoin-change>
        <form class="example-container" [formGroup]="options">
          <mat-form-field class="example-full-width"   min="1">
              <input matInput placeholder="bitcoin value" value="{{options.value.rate}}">
            </mat-form-field>
            <!--<mat-form-field [palce]="options.value.point">
              <mat-select placeholder="Color" formControlName="point">
                <mat-option value="israel">Primary</mat-option>
                <mat-option value="USA">Accent</mat-option>
                <mat-option value="Italy">Warn</mat-option>
              </mat-select>
            </mat-form-field>-->
            <button mat-raised-button (click)="increment()" color="primary">ADD</button>
            <button mat-raised-button (click)="decrement()" color="primary">REMOVE</button>
            <!--<button mat-raised-button (click)="increment()" color="primary">ADD</button>-->
          </form>
      </mat-card>
      <div>
        <agm-map [latitude]="lat"
                 [longitude]="lng"
                 [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window></agm-info-window>
          </agm-marker>
          <agm-circle
            [latitude]="lat"
            [longitude]="lng"
            [radius]="5000"
            [fillColor]="'red'"
            [circleDraggable]="true"
            [editable]="true">
        </agm-circle>
        </agm-map>
        <mat-card>
          <button mat-raised-button color="primary" (click)="pointto('israel')">israel</button>
          <button mat-raised-button color="primary" (click)="pointto('USA')">USA</button>
          <button mat-raised-button color="primary" (click)="pointto('Italy')">Italy</button>
          <mat-card-content>
            <button mat-raised-button (click)="IN()" color="accent">ZOOM IN</button>
            <button mat-raised-button (click)="OUT()" color="accent">ZOOM OUT</button>
            <button mat-raised-button (click)="CIRCLE()" color="accent">SET CIRCLE</button>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="isValid">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
    <span class="done">
      <button mat-fab>
        <mat-icon>check circle</mat-icon>
      </button>
    </span>
  </div>
